<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1> RESUME </h1>
    <h2>ABOUT <span>ME</span></h2>

    <div class="infosu">
        <div class="birinciinfo">
            <h3>PERSONAL INFOS</h3>
            <p class="name"> First Name : Slim </p>
            <p class="name"> Last Name : Hamdi </p>
            <p class="name"> Birth : 1989 </p>
            <p class="name"> Nationality : Tunisian </p>
            <p class="name"> Freelance : Available </p>
        </div>

        <div class="ikinciinfo">
            <p class="name1"> Address : Kairouan </p>
            <p class="name1"> Phone : +216 21 184 010 </p>
            <p class="name1"> Email : hamdislim2@gmail.com </p>
            <p class="name1"> Skype : slim_hamdi.skype_1 </p>
            <p class="name1"> Langages : French, English </p>
            <button> MY PORTFOLIO</button>
        </div>

        <div class="ucuncuinfo">

            <div class="qutu">
                <p>5 <sub>+</sub> </p>
                <span class="yazi">-YEARS OF
                    EXPERIENCE</span>
            </div>
            <div class="qutu">
                <p>64<sub>+</sub> </p>
                <span class="yazi">-COMPLETED
                    PROJECTS</span>
            </div>
        </div>

        <div class="dordinfo">

            <div class="qutu1">
                <p>55 <sub>+</sub> </p>
                <span class="yazi">-COMPLETED
                    PROJECTS</span>
            </div>
            <div class="qutu1">
                <p>4 <sub>+</sub> </p>
                <span class="yazi">-COMPLETED
                    PROJECTS</span>
            </div>

        </div>
    </div>

    <div class="ikonkalar">
        <div class="icon"><a href="index.html"><i class="fas fa-home"></i></a></div>
        <div class="icon"> <a href="about.html"><i class="far fa-user"></i></a></div>
        <div class="icon"> <a href="portfolio.html"><i class="fas fa-briefcase"></i></a></div>
        <div class="icon"> <a href="contact.html"><i class="fas fa-envelope-open"></i></a></div>
    </div>

    <div class="skills">
        <div class="certocka"></div>
    </div>

    <div class="yumurular">
        <h4>MY SKILLS</h4>
        <div class="daireler">
            <p class="reqemleri">99%</p>
            <p class="adlari">HTML</p>
        </div>
        <div class="daireler">
            <p class="reqemleri"> 80%</p>
            <p class="adlari1">JAVASCRIPT </p>
        </div>
        <div class="daireler">
            <p class="reqemleri">95%</p>
            <p class="adlari2">CSS </p>
        </div>
        <div class="daireler">
            <p class="reqemleri">90%</p>
            <p class="adlari3">BOOTSTRAP </p>
        </div>
    </div>

    <div class="yumurular2">
        <div class="daireler2">
            <p class="reqemleri2">85%</p>
            <p class="adlari">JQUERY</p>
        </div>
        <div class="daireler2">
            <p class="reqemleri2"> 70%</p>
            <p class="adlari1">ANGULAR 2+</p>
        </div>
        <div class="daireler2">
            <p class="reqemleri2">85%</p>
            <p class="adlari2">WORDPRESS </p>
        </div>
        <div class="daireler2">
            <p class="reqemleri2">65%</p>
            <p class="adlari3">GIT</p>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>