<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <link rel="stylesheet" href="style.css">
   
</head>
<body>
    <!-- <div class="sliminfoto">
  <img src="img/Slim.jpg" alt="">
    </div> -->

    <div class="umumi">
    <div class="box"></div>
</div>

<div class="rightside">
    <!-- <img src="img/Slim.jpg" class="photo1"> -->
    <p class="hihi"> HI THERE ! </p>
   <div class="text">
    <p class="im"> I'M  </p>
    <P class="slimhamdi" style="color: #ffb400;">SLIM HAMDI</P> 
</div>
<div class="aabout">
    <p class="about">I'm a Freelance Web Designer & Developer based in Tunisia with 5+ years experience, I'm Highly experienced in designing & developing custom web & mobile apps with multiple technologies.</p>
</div>
<div class="button1">
    <button><a href="about.html"> MORE ABOUT ME</a></button>
</div>
</div>

<div class="ikonkalar">
    <div class="icon"> <a href=""> <i class="fas fa-home"></i></a></div>
    <div class="icon"> <a href="about.html"><i class="far fa-user"></i> </a></div>
    <div class="icon"> <a href="portfolio.html"> <i class="fas fa-briefcase"></i>     </a> </div>
    <div class="icon"> <a href="contact.html"> <i class="fas fa-envelope-open"></i> </a> </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>