<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> WORKS </h1>
    <h2>MY <span>PORTFOLIO</span></h2>

    <div class="ikonkalar">
        <div class="icon"><a href="index.html"><i class="fas fa-home"></i></a></div>
        <div class="icon"> <a href="about.html"><i class="far fa-user"></i></a></div>
        <div class="icon"> <a href="portfolio.html"><i class="fas fa-briefcase"></i></a></div>
        <div class="icon"> <a href="contact.html"><i class="fas fa-envelope-open"></i></a></div>
    </div>

    <div class="firstline">
        <div class="box"> <p>Salimo</p></div>
        <div class="box"> <p>Tunis</p></div>
        <div class="box"> <p>Bayya</p></div>
    </div>

    <div class="secondline">
        <div class="box"> <p>Istanbul</p></div>
        <div class="box"> <p>Amira</p></div>
        <div class="box"> <p>Moscow</p></div>
    </div>

    <div class="thirdline">
        <div class="box"> <p>Maryouma</p></div>
        <div class="box"> <p>Chayma</p></div>
        <div class="box"> <p>SSM Optical</p></div>
    </div>

    <div class="fiveline">
        <div class="box"><p>Le Pirate</p></div>
        <div class="box"><p>AGT</p></div>
        <div class="box"><p>GWB</p></div>
    </div>

    <div class="sixline">
        <div class="box"> <p>Tanytos</p></div>
        <div class="box"> <p>Julien Debras</p></div>
        <div class="box"> <p>La Cigale</p></div>
    </div>

    <div class="sevenline">
        <div class="box"> <p>La Cigale</p></div>
        <div class="box"> <p>La Cigale</p></div>
        <div class="box"> <p>Acdnoprt</p></div>
    </div>
    <div class="eightline">
        <div class="box"> <p>Phonetic</p></div>
        <div class="box"> <p>ITI</p></div>
        <div class="box"> <p>Tiny Coaching</p></div>
    </div>

    <div class="nineline">
        <div class="box"> <p>PIFSS</p></div>
        <div class="box"> <p>AGB</p></div>
        <div class="box"> <p>Barwa</p></div>
    </div>

    <div class="tenline">
        <div class="box"> <p>RTA</p></div>
        <div class="box"> <p>ELM</p></div>
        <div class="box"> <p>BH Assurance</p></div>
    </div>

    <div class="elevenline">
        <div class="box"> <p>Jobi</p></div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>