.navbar-brand{
    img{
      transform: translate(350px,10px);
    }
  }
  
  #navbarNavAltMarkup {
      transform: translate(400px,10px);
  
      a{
          color:white;
          font-size: 20px;
          margin-right: 19px;
          transform: translate(0px,10px);
      }
  }